<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
	<!-- Spawn the car model -->
	<include file="$(find navros_pkg)/launch/spawn_car.launch" />
	
	<!-- Publish fixed tfs -->	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/robot/joint_states" />
	</node>

	<!-- Get laser scan readings -->
	<include file="$(find navros_pkg)/launch/pctl.launch" />

</launch>
